<!--<div class="corpo">
  <div id="baloes">
    <div class="container">
      <img src="https://i.imgur.com/ls0vCVJ.png" alt="Avatar">
      <p>Olá visitante, sou o Senhor V! Fui treinado para responder perguntas sobre vacinas (doses e doenças que previnem). Digite sua pergunta</p>
      <span class="time-right">11:00</span>
    </div>

    <div class="container darker">
      <p>Poderia informar sobre a vacina da gripe?</p>
      <span class="time-left">11:01</span>
    </div>

    <div class="container">
      <img src="https://i.imgur.com/ls0vCVJ.png" alt="Avatar">
      <p>A vacina contra a gripe (influenza) pode ser aplicada em pessoas com mais de 6 meses de idade, sendo muito indicada a idosos (60 anos de idade ou mais). No grupo de indicação estão presentes, principalmente, aquelas de maior risco para infecções respiratórias, que podem ter complicações e a forma grave da doença (por exemplo, portadores do vírus HIV, doença pulmonar, cardiovascular grave, diabetes, etc).
        </p>
      <span class="time-right">11:02</span>
    </div>

    <div class="container darker">
      <p>Ok, obrigado</p>
      <span class="time-left">11:05</span>
    </div>
      
    <div class="container">
      <img src="https://i.imgur.com/ls0vCVJ.png" alt="Avatar">
      <p>Obrigado pela conversa! Até logo...</p>
      <span class="time-right">11:02</span>
    </div>
      
    <div class="container darker">
      <p>Nah, I dunno. Play soccer.. or learn more coding perhaps? testeddddddddddddddddddddddddddd heyheyhey</p>
      <span class="time-left">11:05</span>
      </div>
      <div id="inputFake">
          <p><br><br><br>.<br>.<br><br><br></p>
      </div>
  </div>
  <div  id="caixaPergunta"> 
    <input id="input" type="text" placeholder="">
  </div>            
</div>-->
<div class="chatform">
  <app-message-list [messages]="messages"></app-message-list>
  <app-message-form [message]="message" [messages]="messages"></app-message-form>
</div>