<div class="row">
    <div class="col-md-12" *ngIf="paciente" style="padding-top: 2%; padding-left: 15%; padding-right: 15%">
      <div class="card text-center border-primary">
        <div class="card-header bg-info">
          <h2>Dados do Paciente</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ paciente[0].paciente.nome | uppercase }}</h5>
          <p class="card-text"> CPF: {{ paciente[0].paciente.cpf }}</p>
          <p class="card-text"> <b>Data de Nascimento:</b> {{ paciente[0].paciente.dataNascimento }}</p>
          <div class="card">
            <div class="card-header"> <b>Vacinas Aplicadas</b></div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Nome da Vacina:</b> {{ paciente[0].vacina.nome}}</li>
              <li class="list-group-item"><b>Numero doses:</b> {{ paciente[0].vacina.numeroDeDoses }}</li>
            </ul>
          </div>
          <button class="btn btn-primary" disabled>Cadastrar EAPV (em breve)</button>
        </div><br>
      </div>
    </div>
</div>