<!--<div class="row">
    <div class="col-md-12" *ngIf="paciente" style="padding-top: 2%; padding-left: 15%; padding-right: 15%">
      <div class="card text-center border-primary">
        <div class="card-header bg-info">
          <h2>Dados do Paciente</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ paciente[0].paciente.nome | uppercase }}</h5>
          <p class="card-text"> CPF: {{ paciente[0].paciente.cpf }}</p>
          <p class="card-text"> <b>Data de Nascimento:</b> {{ paciente[0].paciente.dataNascimento }}</p>
          <div class="card">
            <div class="card-header"> <b>Vacinas Aplicadas</b></div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Nome da Vacina:</b> {{ paciente[0].vacina.nome}}</li>
              <li class="list-group-item"><b>Numero doses:</b> {{ paciente[0].vacina.numeroDeDoses }}</li>
            </ul>
          </div>
          <button class="btn btn-primary" disabled>Cadastrar EAPV (em breve)</button>
        </div><br>
      </div>
    </div>
</div>-->
<div align="center">
    <div class="row">
        <div class="col-md-12" *ngIf="paciente">
          <div id="page-wrap">
              <img src="https://i.imgur.com/ls0vCVJ.png" alt="" id="mrVi">
              <h1>Olá! Estes são os seus dados: </h1><br>
              <h2>Sua data de nascimento: {{ paciente[0].paciente.dataNascimento }} </h2>
              <h2>Seu histórico de vacinas:</h2>
              
              <table class="table table-sm table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Data Aplicação</th>
                    <th scope="col">Dose</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ paciente[0].doseVacina.vacina.nome }}</td>
                    <td>{{ paciente[0].dataAplicacao }}</td>
                    <td>{{ paciente[0].doseVacina.nome }}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div id="page-wrap">
              <table class="table table-sm table-hover table-striped" id="tb2">
                  <thead>
                    <tr>
                      <th scope="col">Nome</th>
                      <th scope="col">Data Aplicação</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let vacina of vacinas">
                      <td>{{vacina.vacina.nome}}</td>
                      <td>{{vacina.nome}}</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </div>
</div>

  <!--<div class="col-md-12">
    <div id="page-wrap">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Data Aplicação</th>
              <th scope="col">Dose</th>
            </tr>
          </thead>
          <tbody *ngFor="let vacina of vacinas">
            <tr>
              <td>{{ vacina.vacina.nome }}</td>
              <td>{{ vacina.nome }}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>-->
<!--</div>-->