html, body {
    height:100%;
}

#input {
    border: 2px solid #dedede;
    width: 50%;
    height: 60px;
    border-color: #ccc;
    border-radius: 10px;
}

.geral {
    min-height:100%;
    position:relative;
    width:100%;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.corpo {
    color: #848484;
    margin: 8px;
    min-height:100%;
    position:relative;
    width:90%;
    background-color: #FCFDFF;
    flex-direction: column;
    align-items: center;
    display: flex;
}